[submodule "seastar"]
	path = seastar
	url = https://github.com/scylladb/seastar
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = https://github.com/scylladb/scylla-swagger-ui
	ignore = dirty
[submodule "abseil"]
	path = abseil
	url = https://github.com/scylladb/abseil-cpp
[submodule "scylla-python3"]
	path = tools/python3
	url = https://github.com/scylladb/scylla-python3
[submodule "tools/cqlsh"]
	path = tools/cqlsh
	url = https://github.com/scylladb/scylla-cqlsh
